#trifoliate5 ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#trifoliate5 ::-webkit-scrollbar-corner {
    background-color: transparent;
}

#trifoliate5 ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    border: solid transparent;
    border-radius: 10px;
}

#trifoliate5 ::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px;
}


.popper {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    color: white;
    background: black;
    border-radius: 0.25em;
    visibility: hidden;
    z-index: 10000;
}

#headlessui-portal-root {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}